<!-- Page refresh -->
<ul class="nav navbar-nav refresh">
    <li class="divided">
        <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
    </li>
</ul>
<!-- /Page refresh -->

<!-- Search -->
<div class="search" id="main-search">
    <i class="fa fa-search"></i> <input type="text" placeholder="Buscar...">
</div>
<!-- Search end -->

<!-- Quick Actions -->
<ul class="nav navbar-nav quick-actions">

    <li class="dropdown divided">

        <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope"></i>
            <span class="label label-transparent-black">1</span>
        </a>

        <ul class="dropdown-menu wider arrow nopadding messages animated pulse">
            <li>
                <h1>You have <strong>1</strong> new message</h1>
            </li>
            <li>
                <a class="cyan" href="#">
                    <div class="profile-photo">
                        <img src="assets/images/ici-avatar.jpg" alt />
                    </div>
                    <div class="message-info">
                        <span class="sender">Ing. Imrich Kamarel</span>
                        <span class="time">12 mins</span>
                        <div class="message-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
                    </div>
                </a>
            </li>

            <li>
                <a class="green" href="#">
                    <div class="profile-photo">
                        <img src="assets/images/arnold-avatar.jpg" alt />
                    </div>
                    <div class="message-info">
                        <span class="sender">Arnold Karlsberg</span>
                        <span class="time">1 hour</span>
                        <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                    </div>
                </a>
            </li>

            <li class="topborder"><a href="#">Check all messages <i class="fa fa-angle-right"></i></a></li>
        </ul>

    </li>

    <li class="dropdown divided">

        <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
            <i class="fa fa-bell"></i>
            <span class="label label-transparent-black">3</span>
        </a>

        <ul class="dropdown-menu wide arrow nopadding bordered">
            <li>
                <h1>You have <strong>3</strong> new notifications</h1>
            </li>

            <li>
                <a href="#">
                    <span class="label label-green"><i class="fa fa-user"></i></span> New user registered.
                    <span class="small">18 mins</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="label label-red"><i class="fa fa-power-off"></i></span> Server down.
                    <span class="small">27 mins</span>
                </a>
            </li>

            <li><a href="#">Check all notifications <i class="fa fa-angle-right"></i></a></li>
        </ul>

    </li>

    <li class="dropdown divided user" id="current-user">
        <div class="profile-photo">
            <img src="assets/images/profile-photo.jpg" alt />
        </div>
        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
          John Douey <i class="fa fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu arrow settings">

            <li>
                <a href="#"><i class="fa fa-user"></i> Perfil</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-calendar"></i> Calendario</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge badge-red" id="user-inbox">3</span></a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="#"><i class="fa fa-power-off"></i> Salir</a>
            </li>
        </ul>
    </li>
</ul>
<!-- /Quick Actions -->